{% extends 'base.html.twig' %}

{% block body %}

    <h1> Inbound Data Streams </h1>
    {{loaded|length}} streams  in map {{dir}}

    <table class="table table-striped">
        {% for h in headers %}
            <th>{{h}}</th>
            {% endfor %}          


        {% for file in loaded %}

            <tr><td>{{file.id}}<td> {{file.source}} <td> {{file.table_right}} <td> {{file.source_column}}<td>{{file.destination}}</td><td></td><td></td><td>
                <td><a class="btn btn-success btn-sm" href="{{ path('uploads', { 'dest': file.table_right, 'cols': file.status, 'source': file.source }) }}">Load </a>    
{#                <td><a class="btn btn-success btn-sm" href="{{ path('uploads', {'id': file.id, 'dest': file.table_right, 'cols': file.status, 'source': file.source }) }}">Load </a>    #}
{#                <td><a class="btn btn-warning btn-sm" href="{{ path('remove', {'twigtable': file.destination, 'remove': file.destination}) }}">Purge </a>    #}
                   {# {% if file.randomizeable==TRUE %}
                    <td><a class="btn btn-info btn-sm" href="{{ path('randomize', {'twigtable': file.destination, 'table': file.destination}) }}">Randomise </a>    
                    <td><a class="btn btn-primary btn-sm" href="{{ path('matrix_org', {'twigtable': file.destination, 'table': file.destination}) }}">Analise </a>    
                    {% endif%}#}

            </tr>

        {% endfor %}

        <tr>


        </tr>
    </table> 
{% endblock %}



