{% extends 'base.html.twig' %}
        {% block body %}

<h1> Candidate files  </h1>
		{{oneidTWIG}} files in map


      <table class="table table-striped">
                   

                                          
           
{{test}}

{# <tr><td>{{oneidTWIG.file}}<td> {{oneidTWIG.candidate}} <td> {{oneidTWIG.loadedAt}} <td></td><td>
{#        <a class="btn btn-primary btn-lg" href="{{ path('admin') }}">#}
{# <a class="btn btn-primary btn-lg" href="{{ path('candidates', {'id': oneidTWIG.id }) }}">Redirect</a> #}


   
           
          <tr>
              

</tr>
</table> 

		{% endblock %}
     
          
               
